<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="http://{{name}}/api/register" target="_parent">http://{{name}}/api/register</a><br>
    <a href="http://{{name}}/api/login">http://{{name}}/api/login</a><br>
    <a href="http://{{name}}/api/verify">http://{{name}}/api/verify</a><br>
    <a href="http://{{name}}/api/logout">http://{{name}}/api/logout</a><br>
    <a href="http://{{name}}/api/detail">http://{{name}}/api/detail</a><br>
  </body>
</html>
